@font-face {
    font-family: akira;
    src: url(NimbusSanL-Reg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: akira;
}

#main{
    position: relative;
    overflow: hidden;
}

#nav{
    /* background-color: red; */
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 1%;
    font-weight: 100;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: 2;
    /* background-color: rgba(240, 248, 255, 0.184); */
    backdrop-filter: blur(8px);
}

#nav h2{
    font-size: 1.3vmax;
}

#nav h1{
    font-size: 1.6vmax;
}


#nav span{
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
    padding: 5px 5px;
}

.page{
    height: 100vh;
    width: 100vw;
    border-bottom: 2px grey solid;
}

#page1{
    position: relative;
    /* background-color: rgb(32, 36, 37); */
    
}

#page1 #subtitle1{ 
    /* background-color: red; */
    margin-left: 1%;
}

#page1 #subtitle2{
    /* background-color: red; */
    margin-right: 1%;
    text-align: right;
}

#subwrap{
    height: 10vh;
    position: absolute;
    top: 50%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.subtitle h2{
    color: rgb(84, 84, 84);
    padding: 2% 0;
    font-size: 1vw ;
    font-family: akira;
    width: 38vw;
    font-weight: 100;
}


canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 15;
}




#loop{
    position: absolute;
    top: 30%;
    background-color: yellowgreen;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#loop h1{
    font-size: 19vh;
    white-space: nowrap;
    text-transform: uppercase;
    animation-name: infinitescroll;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: akira;
    font-weight:100 ;

}

#loop>h1>span{
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: transparent;
}

@keyframes infinitescroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page2{
    position: relative;
}

.lefttext{
    /* background-color: red; */
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    position: absolute;
    left:20%;
    top: 40%;
    width: 32vw;

}

.lefttext h1{
    font-size: 2.7vw;
}

.lefttext h3{
    color: rgb(124, 124, 124);
    font-weight: 100;
}

.righttext{
    /* background-color: red; */
    /* width: 20vw; */
    display: flex;
    transform: translate(50%,-50%);
    flex-direction: column;
    position: absolute;
    right: 22%;
    top: 60%;
    text-align: end;
    width: 32vw;

} 

.righttext h1{
    font-size: 2.7vw;
    margin-bottom: 3%;
}

.righttext h3{
    color: rgb(124, 124, 124);
    font-weight: 100;

}

#page5{
    background-color:white
    ;
    position: relative;
}

#loop2{
    display: flex;
    /* width: 100vw; */
    height: 40vh;
    /* background-color: red; */
    /* overflow: hidden; */
    animation-name: infinitescroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: -10% -10%;
    position: absolute;
    bottom: 0%;
    /* background-color: yellowgreen; */
}

#title5{
    display: flex;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    margin-top: 3%;
}

#title5 h1{
    font-size: 3.2vmax;
    line-height: 1;
    padding: 1.8% 0;
}

#title5 h3{
    font-weight: 100;
    color: rgb(144, 144, 144);
    font-size: 1.2vw;
}

#page6{
    background-color: #2C2C2C;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    color: white;
    width: 100vw;
    text-align: center;
}


#wrapper6{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    color: white;
    width: 100vw;
    text-align: center;
}

#wrapper6 h1{
    font-size: 2.8vmax;
}

#wrapper6 h3{
    font-weight: 100;
}

#loopimg h1{
    font-size: 6.8vmax;
    line-height: 1.1;
    white-space: nowrap;
    font-weight: 200;
    -webkit-text-stroke: 1.1px rgb(255, 255, 255);
}

#loop6{
    /* background-color: yellowgreen; */
    /* height: 50vmin; */
        position: absolute;
        transform: translate(-50%,-50%);
        left: 0%;
        top: 30vh;
        z-index: 30;
        animation-duration: 45s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        color: transparent;
        animation-name: infinitescroll;
}

#footf{
    /* background-color: red; */
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 53vh;
    z-index: 34;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
   
}

#footf img{
    height: 60vmin;
    z-index: 328;
}

#footf h2{
    margin-top: 2vh;
    font-size: 1.6vmax;
}

#footf h3{
    font-size: 1vmax;
    font-weight: 100;
}



