@font-face {
    font-family: akira;
    src: url(NimbusSanL-Reg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: akira;
}

#main{
    position: relative;
    overflow: hidden;
}

#nav{
    /* background-color: red; */
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 1%;
    font-weight: 100;
    position: fixed;
    width: 100vw;
    top: 0%;
    z-index: 2;
    /* background-color: rgba(240, 248, 255, 0.184); */
    backdrop-filter: blur(8px);
}

#nav h2{
    font-size: 1.3vmax;
}

#nav h1{
    font-size: 1.6vmax;
}


#nav span{
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
    padding: 5px 5px;
}

.page{
    height: 100vh;
    width: 100vw;
    border-bottom: 2px grey solid;
}

#page1{
    position: relative;
    /* background-color: rgb(32, 36, 37); */
    
}

#page1 #subtitle1{ 
    /* background-color: red; */
    margin-left: 1%;
}

#page1 #subtitle2{
    /* background-color: red; */
    margin-right: 1%;
    text-align: right;
}

#subwrap{
    height: 10vh;
    position: absolute;
    top: 50%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.subtitle h2{
    color: rgb(84, 84, 84);
    padding: 2% 0;
    font-size: 1vw ;
    font-family: akira;
    width: 38vw;
    font-weight: 100;
}

#page2{
   /* background-color: red; */
   /* background-color: rgb(32, 36, 37); */
}

#page3{
   
    /* background-color: yellow; */
}

#page4{
  
    /* background-color: yellowgreen; */
}

canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 15;
}


#page6{
    background-color: blueviolet;
}

#page7{
    background-color: rgb(23, 0, 44);
}

#page8{
    background-color: rgb(198, 0, 96);
}

#loop{
    position: absolute;
    top: 30%;
    background-color: yellowgreen;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#loop h1{
    font-size: 19vh;
    white-space: nowrap;
    text-transform: uppercase;
    animation-name: infinitescroll;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: akira;
    font-weight:100 ;

}

#loop>h1>span{
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: transparent;
}

@keyframes infinitescroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page2{
    position: relative;
}

.lefttext{
    /* background-color: red; */
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    position: absolute;
    left:20%;
    top: 40%;
    width: 32vw;

}

.lefttext h1{
    font-size: 2.7vw;
}

.lefttext h3{
    color: rgb(124, 124, 124);
    font-weight: 100;
}

.righttext{
    /* background-color: red; */
    /* width: 20vw; */
    display: flex;
    transform: translate(50%,-50%);
    flex-direction: column;
    position: absolute;
    right: 22%;
    top: 60%;
    text-align: end;
    width: 32vw;

} 

.righttext h1{
    font-size: 2.7vw;
    margin-bottom: 3%;
}

.righttext h3{
    color: rgb(124, 124, 124);
    font-weight: 100;

}

#page5{
    background-color:white
    ;
}

#loop2{
    display: flex;
    /* width: 100vw; */
    height: 40vh;
    /* background-color: red; */
    /* overflow: hidden; */
    animation-name: infinitescroll;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: -10% -10%;
    /* background-color: yellowgreen; */
}





